* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
  background-color: #c8c6c6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  padding: 20px;
}

.logo {
  align-items: center;
  width: 150px;
  max-width: 80%;
  opacity: 0;
  transform: translateY(100px);
  animation: popUpFromBottom 1.5s ease-out forwards;
}

@keyframes popUpFromBottom {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  font-size: 1.5em;
  color: #4c6687;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 1.5s ease;
}

.button {
  font-family: "Play", sans-serif;
  display: inline-block;
  margin-top: 250px;
  padding: 12px 24px;
  background-color: #4c5870;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 3s ease;
}

/* Responsive Typography */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  .button {
    padding: 10px 20px;
  }

  .logo {
    width: 120px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2em;
  }

  .button {
    padding: 8px 18px;
    font-size: 0.9em;
  }

  .logo {
    width: 100px;
  }
}
